<template>
  <div id="app">
    <nav>
      <ul>
        <li><router-link to="/">Политика использования персональных данных</router-link></li>
        <li><router-link to="/">Лицензионное соглашение</router-link></li>
        <li><router-link to="/">Помощь</router-link></li>
      </ul>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
body {
  margin: 0;
  background-color: #f4f8fb;
  font-family: sans-serif;
  font-size: 1em;
}
#app {
  main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  nav {
    margin: 50px 0;
  }
  nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0;

    li {
      display: inline-block;
      margin: 0 2vw;

      a {
        color: #616161;
        font-size: .9em;
        text-decoration: none;
      }
    }
    li:hover a {
      color: black;
    }
  }
  a {
    transition: all .3s linear;
    display: inline-block;
  }
}
  @media (max-width: 680px) {
    #app {
      .caputre {
        width: 100%;
      }
      .link {
        text-align: center;
        width: 100%;
        padding-bottom: .5em;
      }
      nav ul {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        li {
          line-height: 1.3em;
          text-align: center;
          font-size: 14px;
          padding-bottom: .5em;
        }
      }
    }
  }

</style>
