<template>
  <div class="home">
    <form @submit="checkForm($event)">
      <div class="logo"></div>
      <div class="loginParent">
          <input v-model="email" :class="{invalid: !validEmail && checkEmail, valid: validEmail && checkEmail}" type="email" minlength="6" @blur="disableAnimation(1)" @focus="enableAnimation(1)" required name="email">
          <span ref="emailSpan" onclick="this.previousElementSibling.focus()" class="caputre">Электронная почта</span>
      </div>
      <div class="passwordParent">
        <input type="password" :class="{invalid: !validPassword && checkPassword, valid: validPassword && checkPassword, shakeInput: shake}" v-model="password" required minlength="4" @blur="disableAnimation(2)" @focus="enableAnimation(2)" name="password">
        <span ref="pswSpan" onclick="this.previousElementSibling.focus()" class="caputre">Пароль</span>
      </div>
      <div class="links">
        <a href="" class="link">Создать учетную запись</a><a href="" class="link">Забыли пароль?</a>
      </div>
      <button @click="submitClick($event)" type="submit">Войти</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'home',
  data() {
    return {
      email: "",
      password: "",
      validEmail: false,
      validPassword: false,
      checkEmail: false,
      checkPassword: false,
      shake: false
    }
  },
  beforeCreate() {
    if (this.$session.exists()) this.$router.push('interkom') 
  },
  methods: {
    checkForm(ev) {
      ev.preventDefault();

      if (this.validEmail && this.validPassword) {
        axios.post('/api/auth', {
          password: this.password,
          email: this.email,
        }).then(res => {
          if (res.status == 200) {
            this.$session.start()
            this.$session.set('id', res.data.id)
            this.$store.dispatch('ADD_USER', res.data).then(() => {
              this.$router.push('interkom')
            })
          } else throw Error(res.status)
        }).catch(() => {
          this.setPassFalse()
        })
      } else {
        this.setPassFalse();
      }
    },
    enableAnimation(spanNumber) {
      (spanNumber == 1) ? this.checkEmail = true : this.checkPassword = true;
      (spanNumber == 1) ? this.$refs.emailSpan.classList.add('small') : this.$refs.pswSpan.classList.add('small')
    },
    disableAnimation(spanNumber) {
      if (spanNumber == 1) {
        if (this.email == "") this.$refs.emailSpan.classList.remove('small')  
      } else if (this.password == "") this.$refs.pswSpan.classList.remove('small')
      if (document.forms[0][spanNumber - 1].value != "" ) {
        (spanNumber == 1) ? this.validEmail = true : this.validPassword = true
      } else if (document.forms[0][spanNumber - 1].value != "") document.forms[0][spanNumber - 1].classList.add('invalid');
      else document.forms[0][spanNumber - 1].classList.remove('invalid');
    },
    submitClick(ev) {
      ev.target.className = "btn";
      setTimeout(function () {
        ev.target.className = '';
      }, 400)
    },
    setPassFalse() {
      this.validPassword = false
      this.shake = true
      setTimeout(() => {
        this.shake = false
      }, 500)
    }
  }
}
</script>
<style>
@keyframes shakeInput {
  0% {
    left: 10px;
  } 20% {
    left: -10px;
  } 40% {
    left: 10px;
  } 60% {
    left: -10px;
  } 80% {
    left: 10px;
  } 100% {
    left: 0px;
  }
}
@keyframes blurAfter {
  from {
    width: 0px;
    height: 0px;
    opacity: 1;
  } to {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}
</style>
<style lang="scss" scoped>


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  input {
    width: 400px;
    border-radius: 200px;
    padding: 30px 0;
    border: 0;
    font-size: 1em;
    color: #616161;
    outline: none;
    background-color: white;
    box-shadow: 0 0 30px -20px grey;
    position: relative;
  }
}
.profilePhoto {
  width: 200px;
  height: 200px;
  background-image: url(../assets/imgs/img.png);
  background-repeat: no-repeat;
  background-position: 43% 0%;
  background-size: 200%;
  border: 4px solid white;
  border-radius: 200px;
}
.logo {
  width: 250px;
  height: 160px;
  margin-bottom: 50px;
  background-image: url(../assets/imgs/logo.png);
  background-repeat: no-repeat;
  background-position: 43% 0%;
  background-size: contain;
}
.name {
  font-size: 2em;
  display: block;
  margin: 50px 0;
}
.passwordParent, .loginParent {
  position: relative;
  margin-bottom: 50px;
}
.loginParent {
  margin-bottom: 15px;
}

.caputre {
  position: absolute;
  color: gray;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  transition: all .3s ease-in-out;
  transform: translateY(-50%) translateX(-50%);
}
input[type=password], input[type=email] {
  text-align: center;
  padding: 30px 0 20px;
  transition: all .2s linear;
}
.shakeInput {
  animation: shakeInput .4s ease-in-out;
}
input[type=password]:visited + .caputre {
  animation: resizeCapture .3s linear;
}
.input:invalid, .invalid {
  box-shadow: 0 0 30px -20px red;
}
.input:valid, .valid {
  box-shadow: 0 0 30px -20px green;
}
input.invalid {
  box-shadow: 0 0 30px -20px red;
  animation-duration: .4s;
  animation-direction: normal;
}

input[type=password].valid {
  box-shadow: 0 0 30px -20px green;
}
.small {
  font-size: .8em;
  top: 30%; 
}
.link:hover {
  color: black;
}
.link {
  color: #616161;
  text-decoration: none;
  font-size: .9em;
  margin: 0 1vw;
}
form button {
  margin-top: 40px;
  padding: 20px 100px;
  font-size: 1em;
  outline: none;
  border: 0;
  background-color: #00b9c8;
  color: white;
  overflow: hidden;
  position: relative;
  border-radius: 200px;
}
form button::after {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #187880;
  border-radius: 50%;
  opacity: 1;
  animation-timing-function: ease;
  animation-duration: .4s;
}
.btn::after {
  animation-name: blurAfter;
}

@media (max-width: 680px) {
  .link {
    font-size: 14px;
  }
  form {
    width: 100%;
    padding: 0 10px;
    margin: 40px 0;
    transform: none;
    box-sizing: border-box;
  }
  form input {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  input[type=password], input[type=email] {
    padding: 30px 0 10px;
  }
  .loginParent, .passwordParent {
    width: 100%;
  }
  .passwordParent {
      margin-bottom: 30px;
  }
  form span {
    text-align: center;
  }
  .name {
    margin: 30px 0;
  }
  form button {
    margin-top: 30px;
  }
  .logo {
    width: 200px;
    margin-bottom: 20px;
  }
  .caputre {
    font-size: 1em;
  }
  .small {
    font-size: .8em;
    top: 30%; 
  }
}

</style>