<template>
    <div class="interkom">
        <headerComp :userName="user.name" :userImg="user.img"></headerComp>
        <div class="main">
            <div class="row">
                <h1>Интерком</h1>
                <div class="description">Связь с сотрудниками предприятия</div>
                <div class="finder">
                    <form>
                        <div class="find">
                        <img src="../assets/imgs/find.svg" alt="">
                        <input type="text"></div>
                    </form>
                </div>
            </div>
            <div class="row">
                <h2>Руководство компании</h2>
                <div class="rowBody">
                    <article>
                        <header>
                        <div class="photo">
                            <img src="../assets/imgs/rivzan.png" alt="">
                            <div class="status"><div class="number">1</div>th</div>
                        </div>
                        <div class="name">Ривзан Магомедович Масаев</div>
                        <div class="description">Президент холдинга</div>
                        <button class="notificationCounter">77 Уведомлений</button>
                        </header>
                        <footer>
                        <button onclick="ringMan(this)" class="ring"></button>
                        <button class="msg"></button>
                        <button class="notification"></button>
                        </footer>
                    </article>
                    <article>
                        <header>
                        <div class="photo">
                            <img src="../assets/imgs/img.png" alt="">
                        </div>
                        <div class="name">Умар Магомедович Масаев</div>
                        <div class="description">Генеральный директор ООО "Теплостройпроект-С"</div>
                        <button class="notificationCounter">77 Уведомлений</button>
                        </header>
                        <footer>
                        <button onclick="ringMan(this)" class="ring"></button>
                        <button class="msg"></button>
                        <button class="notification"></button>
                        </footer>
                    </article>
                </div>
            </div>
            <div class="row">
                <h2>Первые заместители {{ d }}</h2>
                <div class="rowBody">
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import headerComp from './../components/Header'

export default {
    name: "interkom",
    data() {
        return {
            user: {},
            d: null
        }
    },
    components: {
        'headerComp': headerComp
    }, 
    mounted() {
      this.$store.dispatch('ADD_USER_BYID', this.$session.get('id')).then(() => {
        this.user = this.$store.state.user
      })
      },
    beforeCreate() {
      if (!this.$session.exists()) this.$router.push('/') 
    }
}


</script>  
<style>
#app > nav {
    display: none;
}

</style>
<style lang="scss" scoped>
@font-face {
  src: url(../assets/fonts/PTSans-Regular.ttf);
  font-family: PTSans;
  font-weight: normal;
}
@font-face {
  src: url(../assets/fonts/PTSans-Bold.ttf);
  font-family: PTSans;
  font-weight: bold;
}

.interkom {
  font-family: PTSans;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #f4f8fb;
  font-size: 1em;
  height: 100%;
  position: relative;
}
.layout {
  background-color: #00000071;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: all .3s ease;
  z-index: 2;
  display: none;
  justify-content: center;
}
.window {
  position: absolute;
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  max-width: calc(330*4px + 13vh + 80px);
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
}
.window .row {
  flex-direction: row;
  align-items: unset;
}
.part {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1em;
  padding: 30px 40px;
  padding-bottom: calc(40px + 1em + 2.8vh);
  position: relative;
  width: 330px;
  box-sizing: border-box;
  border-right: 1px solid #02b2c24b;
}
.row .part:last-child {
  border-right: 0;
}
.part .photo {
  margin: 2vh 0;
}
.close {
  transform: rotate(45deg);
  font-size: 2.2em;
  left: 20px;
  cursor: pointer;
  top: 5px;
  transition: all .3s ease;
  position: absolute;
}
.close:hover {
  color: red;
}
.part .description {
  font-size: .8em;
  width: 100%;
}
.addUser {
  padding: 40px 60px;
  align-items: center;
  display: flex;
}
.addUser button {
  background-color: rgb(241, 241, 241);
  border-radius: 50%;
  font-size: 3em;
  border: 0;
  width: 13vh;
  color: rgb(182, 182, 182);
  height: 13vh;
  overflow: hidden;
  position: relative;
  outline: none;
}
.endRing::after {
  content: "";
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
  background-color: #801818;
  border-radius: 50%;
  opacity: 1;
  animation-timing-function: ease;
  animation-duration: .4s;
}
.status {
  background-color: rgb(255, 230, 0);
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.status .number {
  margin-top: -.2em;
  font-size: 1.3em;
}
article .photo {
  position: relative;
  z-index: 0;
}
.btn::after {
  animation-name: blurAfter;
}
@keyframes blurAfter {
  from {
    width: 0px;
    height: 0px;
    opacity: 1;
  } to {
    width: 200px;
    height: 200px;
    opacity: 0;
  }
}
.endRing {
  position: absolute;
  overflow: hidden;
  margin-top: 3vh;
  bottom: 0;
  margin-bottom: 2vh;
  border: none;
  outline: none;
  padding: 1.4vh 6vh;
  border-radius: 3em;
  color: white;
  font-size: 1rem;
  background-color: rgba(255, 0, 0, 0.644);
}


/*  */
.main {
  width: 80%;
  max-width: 1440px;
  padding-bottom: 15vh;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.main, .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.row {
  width: 100%;
}
.main h1 {
  margin: 7vh;
  font-size: 3em;
  margin-bottom: 1.5vh;
}
.description {
  color: #a9aaa9;
  font-size: 1.1em;
}

.finder {
  position: absolute;
  background-color: white;
  right: 0;
  top: 9vh;
  border-radius: 3em;
  padding: 2vh 3vh;
  box-shadow: 0 0 50px 1px rgba(0, 0, 0, 0.08);
}
.find {
  display: flex;
  align-items: center;
}
.find svg {
  width: 25px;
  height: 25px;
}
.finder input {
  font-size: 1.8em;
  outline: none;
  border: none;
  width: 17vw;
  margin-left: 3vh;
}
h2 {
  margin: 7vh 0;
  font-weight: normal;
  font-size: 2em;
}
.rowBody {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  font-size: .9em;
}

article {
  background-color: white;
  margin: 15px;
  min-width: 290px;
  box-sizing: border-box;
  width: calc(100% / 4 - 30px);
  border-radius: 10px;
  box-shadow: 0 0 40px 1px rgba(0, 0, 0, 0.09);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}
article header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.photo {
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  margin: 30px 0;
}
.photo img {
  width: 100%;
  height: 100%;
}
.name {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 1vh;
}
.description {
  width: 90%;
  text-align: center;
}
article .notificationCounter {
  padding: 1.4vh 6vh;
  font-size: 1.1em;
  color: #00b7c6;
  margin: 30px 0 20px;
  border-radius: 2em;
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all .3s ease;
  background-color: #eff6f7;
}
article .notificationCounter:hover {
  box-shadow: 0 0 10px #00b5c611;
}
article footer {
  width: 100%;
    border-top: 1px solid #e4e4e4;
  display: flex;
}
article footer button {
  background-color: white;
  border: 0;
  border-right: 1px solid  #eff6f7;
  width: 100%;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  outline: 0;
  transition: all .3s ease;
  cursor: pointer;
}
article footer button:hover {
  background-color: #eff6f7;
}
.ring {
  background-image: url(../assets/imgs/ring.png);
}
.msg {
  background-image: url(../assets/imgs/msg.png);
}
.notification {
  border-right: 0;
  background-image: url(../assets/imgs/notification.png);
}
@media (max-width: 1660px) {
  article {
    width: 30%;
  }
}
@media (max-width: 1220px) {
  article {
    width: 45%;
  }
  .finder input {
    width: 0;
    margin-left: 0;
  }
}
@media (max-width: 850px) {
  article {
    width: 100%;
  }
}
@media (max-width: 580px) {
  .finder {
    width: 80%;
    position: static;
    margin-top: 5vh;
  }
  .finder input {
    width: 100%;
    margin-left: 2vw;
  }
  .exitBtn, .userName {
    display: none;
  }
  .logo {
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .main {
    width: 100%;
  }
}

</style>