<template>
  <header>
    <div @click="goHome()" class="logo"><img src="../assets/imgs/logo-mini.png" alt=""></div>
    <div class="menuBtn"><svg fill="#00bac9" viewBox="0 0 36 36" focusable="false" aria-hidden="true" role="img" class="spectrum-Icon spectrum-Icon--sizeS"><path d="M10 10H2V3a1 1 0 0 1 1-1h7zm4-8h8v8h-8zm20 8h-8V2h7a1 1 0 0 1 1 1zM2 14h8v8H2zm12 0h8v8h-8zm12 0h8v8h-8zM10 34H3a1 1 0 0 1-1-1v-7h8zm4-8h8v8h-8zm19 8h-7v-8h8v7a1 1 0 0 1-1 1z"></path></svg></div>
    <div class="userBlog">
      <div class="left">
        <div class="userPhoto">
          <img :src="userImg" alt="">
        </div>
        <div class="userName">{{ userName }}</div>
      </div>
      <div class="exitBtn" @click="logout"><img src="../assets/imgs/exit.svg" alt=""></div>
    </div>
  </header>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    userName: String,
    userImg: String
  },
  methods: {
    goHome() {
       this.$router.push('/interkom')
    },
    logout() {
      this.$session.destroy()
      this.$router.push('/')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  height: 6vw;
  min-height: 60px;
  max-height: 90px;
}

.logo {
  padding: 0 1.2vw;
  padding-right: 0;
}
.logo img {
  width: 15vw;
  min-width: 200px;
}
.menuBtn {
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.exitBtn img {
  cursor: pointer;
  transition: all .2s ease;
}
.exitBtn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.exitBtn:hover img, .menuBtn:hover  {
  transform: scale(.9);
}
.menuBtn {
  padding: 10px;
  transition: all .2s ease;
}
.userBlog {
  display: flex;
  align-items: center;
  height: 100%;
}
.userPhoto {
  width: 4.5vw;
  height: 4.5vw;
  max-width: 75px;
  max-height: 75px;
  min-width: 45px;
  min-height: 45px;
  border-radius: 60px;
  overflow: hidden;
  margin-right: 1vw;
}
.left {
  display: flex;
  align-items: center;
  height: 100%;
  border-right: 1px solid #e4e4e4;
}
.userPhoto img {
  width: 100%;
  position: relative;
  height: 100%;
}
.userName {
  padding-right: 2vw;
  font-size: 1.1em;
}
.exitBtn {
  padding: 0 2vw;
}
</style>
